.Rproj.user
.Rhistory
.RData
.Ruserdata
cache
*.jaspar
tmp.reads_dt.save
*.pdf
*.png
R/*.bu
tests/testthat/*bu
dev_josh_motif.R
*.save
dev_chipsim_V10_10M_v2.R
dev_chipsim_V10_10M_v3.R
dev_chipsim_V1_10M_v2.R
dev_chipsim_V1_10M_v3.R
dev_chipsim_V2_10M_v3.R
dev_chipsim_V3_10M_v3.R
dev_chipsim_V4_10M_v3.R
dev_chipsim_V5_10M_v3.R
dev_chipsim_V6_10M_v3.R
dev_chipsim_V7_10M_v3.R
dev_chipsim_V8_10M_v2.R
dev_chipsim_V8_10M_v3.R
dev_chipsim_V9_10M_v2.R
dev_chipsim_V9_10M_v3.R
simulation
logged_scripts
random_50000.fastq
